.transHisComponent {
    background-color: #e5e5e5;
}
.filterOrder {
    border-bottom: 1px solid #007bff;
}
.order {
    background-color: rgba(54, 181, 255, 0.127);
}
.order:last-child {
    margin-bottom: 0!important;
}
.transBody_infoProduct, .transBody_titleOrder {
    border-bottom: 1px solid #007bff;
}
