@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");

.column {
    display: flex;
    margin-top: 4vw;
}

.columnsmall {
    width: 25%;
    margin-left: 5vw;
}

.columnbig {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.column1 {
    display: flex;
    width: 50%;
}

.fonts {
    font-family: Noto Serif;
    color: #141f1f;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 2.5vw;
    word-wrap: break-word;
}

.fonts1 {
    font-family: Poppins;
    color: #141f1f;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    font-size: 1.5vw;
    word-wrap: break-word;
}

.fonts2 {
    font-family: Poppins;
    color: white;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 1.5vw;
    word-wrap: break-word;
}

.fonts3 {
    font-family: Roboto;
    color: #054c73;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4vw;
    word-wrap: break-word;
}

.fonts4 {
    font-size: 1.3vw;
}

.fonts5 {
    font-weight: 400;
    font-size: 1.3vw;
}

.fonts6 {
    color: rgba(75, 75, 75, 0.69);
}

.pa {
    padding-right: 10px;
}

.buton {
    background-color: #054c73;
    border-radius: 50px;
    color: white;
    width: 20vw;
    height: 3.9vw;
    padding: 1vw 2vw;
    display: inline-block;
    margin: 2vw 1vw;
}

.lienket a {
    text-decoration: none;
    margin-top: 1.5vw;
}
.square {
    background-color: #054c73;
    border: none;
    width: 3vw;
    height: 3vw;
}

.content {
    width: 90%;
    margin-left: 2vw;
}

.ad {
    padding-top: 30px;
}

.cart {
    margin-left: 0vw;
}

.tieude {
    display: flex;
}

.tieude1 {
    display: flex;
    width: 82%;
}

.tieude2 {
    width: 18%;
    margin: auto;
}

.list a {
    text-decoration: none;
}

.a1 {
    padding-left: 5vw;
}

.list a:hover {
    color: #054c73;
}

.listsmall {
    width: 85%;
}

.image-menu {
    width: 360px;
    height: 435px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: center;
}

.img-container-menu {
    float: left;
    background-color: #c9ecff;
    color: #054C73;
}
.clearfix-menu {
    margin-top: 2vw;
}

.clearfix-menu::after {
    content: "";
    clear: both;
    display: table;
}

.pagination {
    font-family: IBM Plex Sans;
    font-weight: 600;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.3vw;
    justify-content: right;
    width: 98%;
}

.pagination div {
    color: #054c73;
    float: left;
    padding: 1vw 1.5vw;
}

.pagination div.active {
    background-color: #054c73;
    color: white;
    border-radius: 50%;
}

.pagination div:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}

.mail {
    margin-top: 8vw;
}

.fonts7 {
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    color: #333333;
    word-wrap: break-word;
    font-weight: 700;
    font-size: 2vw;
}

.fonts8 {
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    color: #666666;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 1.3vw;
}

.add {
    width: 25%;
    height: 50px;
}

.form-add {
    height: 50px;
    border: 1px solid #011c42;
    border-radius: 3px;
}

.btn1 {
    background-color: #054c73;
}

.btn-outline-secondary {
    color: white;
}

.add-the-center {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.add1 {
    color: white;
    font-size: 0.9vw;
    font-weight: bolder;
}

.mobile {
    display: none;
}

#rep2 {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .columnsmall {
        margin: auto;
        width: 30%;
    }
    .column {
        display: block;
    }
    .columnsmall .fonts {
        text-align: center;
        font-size: 3.5vw;
    }
    .columnsmall .fonts1 {
        text-align: center;
        font-size: 2.5vw;
    }
    .tieude1 {
        width: 75%;
    }
    .tieude2 {
        width: 25%;
    }
    .lienket {
        padding-left: 1.5vw;
    }
    .columnbig {
        width: 60%;
        display: flex;
        margin: auto;
    }
    .column1 {
        width: 50%;
        padding: 1.5vw;
    }
    .fonts2 {
        font-size: 2.5vw;
    }
    .content .fonts {
        font-size: 3vw;
    }
    .content .fonts1 {
        font-size: 1.9vw;
    }
    .buton {
        width: 25vw;
        height: 5vw;
    }
    .cart {
        margin: auto;
        width: 70%;
    }
    .tab {
        font-size: 3vw;
        margin-top: 2vw;
    }
    .fonts4 {
        font-size: 2vw;
    }
    .fonts5 {
        font-size: 2vw;
    }
    .a1 {
        padding-left: 1.6vw;
    }
    .listsmall {
        width: 80%;
    }
    .img-container-menu {
        width: 50%;
    }
    .image-menu {
        width: 92%;
        position: relative;
    }
    .image3 {
        margin-bottom: 4vw;
    }
    .pagination {
        font-size: 2vw;
        margin-top: 0;
    }
    .pagination a {
        padding: 1vw 2vw;
    }
    .fonts7 {
        font-size: 2.6vw;
    }
    .fonts8 {
        font-size: 2vw;
    }
    .add {
        width: 55%;
    }
    .clearfix-menu {
        margin-top: 0;
    }
    .padd {
        margin-top: 7vw;
    }
}

@media only screen and (max-width: 767px) {
    .columnsmall {
        margin: auto;
        width: 60%;
    }
    .column {
        display: block;
    }
    .columnsmall .fonts {
        text-align: center;
        font-size: 5vw;
    }
    .columnsmall .fonts1 {
        text-align: center;
        font-size: 3.5vw;
    }
    .lienket {
        padding-left: 5vw;
    }
    .columnbig {
        width: 55%;
        display: flex;
        margin: auto;
    }
    .column1 {
        width: 100%;
        padding: 1.5vw;
    }
    .fonts2 {
        font-size: 3.5vw;
    }
    .content .fonts {
        font-size: 5vw;
    }
    .content .fonts1 {
        font-size: 3vw;
    }
    .buton {
        height: 7vw;
        padding: 3vw 2vw;
        width: 50vw;
        height: 10vw;
    }
    .tieude {
        margin-top: 8vw;
    }
    .tieude1 {
        width: 70%;
    }
    .tieude2 {
        width: 35%;
    }
    .ad {
        display: none;
    }
    .square {
        width: 5vw;
        height: 5vw;
    }
    .mobile {
        display: block;
        width: 100%;
        margin-left: 35vw;
    }
    .cart {
        margin: auto;
        width: 60%;
    }
    .tab {
        font-size: 5vw;
        margin-top: 3vw;
    }
    .fonts4 {
        font-size: 3vw;
    }
    .fonts5 {
        font-size: 3vw;
    }
    .a1 {
        padding-left: 3vw;
    }
    .listsmall {
        width: 80%;
    }
    .img-container-menu {
        width: 100%;
    }
    .image-menu {
        width: 100%;
    }
    .image3 {
        margin-bottom: 10vw;
    }
    .y {
        margin-bottom: 5vw;
    }
    .pagination {
        font-size: 3vw;
        margin-top: 0;
    }
    .pagination a {
        padding: 1vw 2vw;
    }
    .fonts7 {
        font-size: 4.5vw;
    }
    .fonts8 {
        font-size: 3vw;
    }
    .add {
        width: 100%;
        height: auto;
    }
    .clearfix-menu {
        margin-top: 0;
    }
    .padd {
        margin-top: 10vw;
    }
    .x {
        display: none;
    }
    .mail {
        margin-top: 15vw;
    }
}

.addtocart button {
    background-image: url("./Image/AddToCartButton.png");
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: white;
    position: absolute;
    /* margin-left: 18.5vw; */
    margin-top: 0.8vw;
    float: right;
}

.dt {
    position: absolute;
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    height: 100px;
    width: 300px;
}

.data1 {
    color: rgba(51, 51, 51, 0.3);
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 1vw;
}

.data2 {
    color: #054c73;
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 1.5vw;
}

.money {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 2px;
    position: absolute;
    width: 10vw;
    height: 3vw;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(4px);
    border-radius: 36px;
    margin-top: 20vw;
    margin-left: 1.5vw;
}

.money1 {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 0.93vw;
    color: #054c73;
}

.animation {
    transition: transform 0.3s;
}

.animation:hover {
    transform: scale(1.035);
}

.menu-component .name-category {
    height: 20px;
}
.menu-component .name-category .item-category{
    color: #333333;
}
.menu-component .name-category .item-name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.menu-component .item-price .price {
    background: rgba(255, 255, 255, 0.45);
}

.menu-component .top-category .title-category {
    width: 80vw;
    height: 10vw;
    background: no-repeat bottom;
}