.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #f09a61;
    color: white;
    padding: 0.75rem 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    text-transform: none;
    margin-top: 0px;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    /* position: relative; */
  }
  
  .button:hover,
  .button:active {
    background-color: #9b6b57;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
  
  }
  
  .badge {
    color: #e7b392;
    background-color: #ffffff;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    color: #9b6b57;
    background-color: #ffffff;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  