.import-ds-form .custom-file-label::after {
    display: none !important;
}
.import-design-component {
    background-color: #e5e5e5;
}
.import-ds-form-header {
    color: #0795df;
}

.import-ds-form .frame-import {
    background-color: #c9ecff;
    height: 470px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    padding: 0;
}

.import-ds-form .frame-import::-webkit-scrollbar {
    display: none;
}

.import-ds-form .frame-import .box-import {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.import-ds-form .frame-import .preview-img-import {
    width: 216px;
    height: 216px;
    overflow: hidden;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border: 1px solid black;
}

 /* Table */
@media only screen and (max-width: 991.5px){
    .import-ds-form .frame-import .preview-img-import{
        width: 108px;
        height: 108px;
    }
    .import-ds-form .frame-import {
        height: 350px;
        
    }
}
/* Mobile */
@media only screen and (max-width: 767.5px){
    .import-ds-form .frame-import .preview-img-import{
        width: 54px;
        height: 54px;
    }
    .import-ds-form .frame-import {
        height: 300px;
        
    }
}